h1 {
    font-family: "Sofia", sans-serif;
    color: #7E998D;
    font-size: 300%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
   
  }
  
h2 {
    text-align: center;
    font-size: 220%;
    color: #135046;
    font-family:monospace;

}

p {
    text-align: center;
    color: #667b68;
    font-family:"Sofia", monospace;
    font-size: 150%
    
}

img {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}

.mad-hatter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

body {
    background-color: #8EBBA7;
}

.strengths {
  text-align: center;
    font-size:150%;
    font-family:"Sofia", monospace;
    color: #667b68;
}

.strengths ul {

    text-align: center;
    font-size:150%;
    font-family:"Sofia", monospace;
    color: #667b68;

}
.strengths li {
    text-align: center;
    font-size: 150%;
    font-family:"Sofia", monospace;
    color: #667b68;
    }

div {
text-align: center
}

.text-properties {
    text-transform: uppercase;
    text-decoration: underline;
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
  }

  a:link, a:visited {
    background-color: #135046;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-family: "Sofia";
    text-decoration: none;
    display: block;
    margin: 0 auto;
    
  }

  .core-link {
    display: block;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;

  }

  .box-model {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%
  }

 
