h1 {
    font-family: "Sofia", sans-serif;
    color: white;
    font-size: 300%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
   
  }
  
h2 {
    text-align: center;
    font-size: 220%;
    color: #135046;
    font-family:monospace;

}

p {
    text-align: center;
    color: whitesmoke;
    font-family:"Sofia", monospace;
    font-size: 150%
    
}

img {
    
    border-radius: 50px;
}

.mad-hatter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

body {
    background-color: #8ebba7;
}

.strengths {
  text-align: center;
    font-size:150%;
    font-family:"Sofia", monospace;
    color: whitesmoke;
}

.strengths ul {

    text-align: center;
    font-size:150%;
    font-family:"Sofia", monospace;
    color:whitesmoke;

}
.strengths li {
    text-align: center;
    font-size: 150%;
    font-family:"Sofia", monospace;
    color: whitesmoke;
    }

div {
text-align: center
}

.text-properties {
    text-transform: uppercase;
    text-decoration: underline;
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
  }

  a:link, a:visited {
    background-color: whitesmoke;
    color: #8ebba7;
    padding: 14px 14px 14px 14px;
    text-align: center;
    font-family: "Sofia";
    text-decoration: none;
    display: block;
    margin: 0px 150px;
    font-size: x-large;
    
  }

  .core-link {
    display: block;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;

  }

  .box-model {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%

}
.navigation-bar {
  width: 100%;
  height: 80px; 
  background-color: whitesmoke
}
img.logo {
  display: inline-block;
  vertical-align: top;
  padding: 4px 4px 4px 4px;
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}
.navigation-bar > a {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 20px;
  height: 50px; 
  line-height: 80px;  
}

/* Phones */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) {
}
/* Tablets */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px) {
}

/* Laptops */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
}


