h1 {
    font-family: "Sofia", sans-serif;
    color: #AABFB8;
    font-size: 200%;
    text-align: center;
  }
  
h2 {
    text-align: center;
    font-size: 100%;
    color: #517470;
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;

}

p {
    text-align: center;
    font-family: monospace
}

img {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mad-hatter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

body {
    background-color: 	#ACBAA1
}